<% if user_signed_in? %>
    <h1>Bienvenido <%= current_user.name%> <%=current_user.last_name%></h1>
<% end%>
<% @news.each do |single|%>
<div class="card">
     <div class="">
        <h1 class="text-uppercase"><%=single.title%></h1>
        <p><%=single.sub_title%></p>
    </div>
    <div>
        <p><%=single.content%></p>
    </div>
</div>

    
<%end%>
